<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="./style.css">
  <title>E-commerce product page</title>
  <script src="./app.js" defer></script>
</head>
<body>
<header>
  <div class="header-left">
    <img src="./img/logo.svg" alt="">
    <nav>
      <a href="">Collections</a>
      <a href="">Men</a>
      <a href="">Women</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </nav>
  </div>
  <div class="header-right">
      <img class="cart-img" src="./img/icon-cart.svg" alt="">
      <img src="./img/image-avatar.png" alt="">
  </div>
</header>

<main>
  <div class="product-image-section">
    <img id="main-image" src="./img/image-product-1.jpg" alt="">
    <div class="thumbnail-section">
      <img src="./img/image-product-1-thumbnail.jpg" alt="">
      <img src="./img/image-product-2-thumbnail.jpg" alt="">
      <img src="./img/image-product-3-thumbnail.jpg" alt="">
      <img src="./img/image-product-4-thumbnail.jpg" alt="">
    </div>
  </div>
  <div class="product-content-section">
    <h6>SNEAKER COMPANY</h6>
    <h2>Fall Limited Edition <br>
       Sneakers</h2>
    <p>These low-profile sneakers are your perfect casual wear companion.Featuring a durable rubber outer sole,they'll withstand everything the weather can offer.</p>
    <div class="price-tag">
      <span>$125.00</span>
      <span class="discount">50%</span>
    </div>
    <div class="btn-div">
      <button id="remove" class="add-remove">-</button>
      <span id="item" class="add-remove">0</span>
      <button id="add" class="add-remove">+</button>
      <div>
      <button id="cart">Add to cart</button>
    </div>
    </div>
  </div>
</main>












</body>
</html>
