@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

:root
{
    Orange: hsl(26, 100%, 55%);
    PaleOrange: hsl(25, 100%, 94%);
    Veryblue: hsl(220, 13%, 13%);
    Darkgrayishblue: hsl(219, 9%, 45%);
    Grayishblue: hsl(220, 14%, 75%);
    Lightgrayishblue: hsl(223, 64%, 98%);
}



*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans",sans-serif;
    
}














/* =========================header section============================= */
body
{
    padding: 0 5rem;
    width: 100%;
    height: 100vh;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 10%;
    width: 100%;
}
.header-left
{
    display: flex;
}

.header-right
{
    display: flex;
}
.header-right img
{
    width: 40px;
}


















/* ===========================Main section===================== */

main
{
    display: flex;
    height: 90%;
    width: 100%;
    padding: 4rem;
}
.product-image-section
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#main-image
{
    width: 200px;
    
}

.thumbnail-section
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.thumbnail-section img
{
    width: 100px;
    
}
.product-content-section
{
    width: 50%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 0;
    margin: 80px;
    font-weight: 1000;

}
h6{
    color: coral;
}
p{
    color: grey;
    font-weight: 100;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

/* ======Price tag section==== */
.price-tag{
    margin-top: 20px;
    font-weight: 1000;
    
}
.discount{
   
    margin-left: 10px;
    font-weight: 1000;
    font-size: 12px;
    color: rgb(245, 108, 59);
    background-color: rgb(240, 222, 215);
    border: 0.1px solid rgb(232, 203, 192);
    border-radius: 4px;
    padding: 0 3px;
}
.btn-div{
    margin-top: 20px;
    
}

/* ====(-)buttonn=== */
#remove{
    color: coral;
    padding: 3px 10px;
    outline: none;
    font-size: large;
    font-weight: 900;
    border: none;
    
    
   
}
#item{
    margin: 0 10px;
    
    padding: 3px 20px;
   
}

/* ====(+)buttonn=== */
#add{
    color: coral;
    padding: 3px 10px;
    outline: none; 
    font-size: large;
    font-weight: 900;
    border: none;
    
    margin-right: 10px;

    
}
.add-remove{
    background-color: lavender;
}

/* ===Addd to cart section=== */
#cart{
    margin-left: 9px;
    padding:8px 40px;
    color: azure;
    background-color:hsl(26, 100%, 55%);
    outline: none;
    border-radius: 6px;
    font-weight: bold;
    border: none;
}

/* ====Right Cart img==== */
.cart-img{
    margin-right: 60px;
    width: auto;
    height: auto;
}
